{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":311.8671875,"scrollleft":0,"selection":{"start":{"row":11,"column":13},"end":{"row":11,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":20,"state":"start","mode":"ace/mode/text"}},"timestamp":1563818050987,"hash":"da0708a7b0f4543a4e4fd81d5a402c907ded6cbb"}