{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"remove","lines":["2"],"id":1}],[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"insert","lines":["1"],"id":2},{"start":{"row":4,"column":13},"end":{"row":4,"column":14},"action":"insert","lines":["1"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":14},"end":{"row":4,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1563210115498,"hash":"13f913e6d0c416864e9cb793e97bb73b8c604371"}