{% extends 'base.html' %}
{% block content %}
<!--Header Image-->
    <header id="heading"></header>
    <br/>
    <main class="my-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header"><h4 class="text-center">LOGIN/SIGN-IN</h4></div>
                        <div class="card-body">
                            <form method=POST action="{{ url_for('login') }}">
                                <div class="form-group row">
                                    <label for="user_name" class="col-md-4 col-form-label text-md-right">User Name</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control mainforminput" name="user_name" placeholder="Username" required="required">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control mainforminput" name="pass" placeholder="Password" required="required"><br/>
                                            {% with messages = get_flashed_messages(with_categories=true) %}
                                                {% if messages %}
                                                    {% for category, message in messages %}
                                                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                                            <span>{{ message }}</span>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endwith %}
                                    </div>
                                </div>
                               
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-info btn-block" onclick="{{ url_for('login')}} ">
                                       Signin 
                                    </button>
                                </div>
                                <div class="text-center"><br/>
                                    Don't have an account? <a href="{{url_for('register')}}">Register here</a>.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <br/>
{% endblock %}