{% extends 'base.html' %}
{% block content %}
<!--Header Image-->
  <header id="heading"></header>
  <br/>

 <form class="form" action="{{url_for('search_recipes')}}"  method="POST">
    <div class="container">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">map</i>
            <select id="cuisine_name_filter" name="cuisine_name_filter">
              <option value="" disabled selected>Select Cuisine</option>
              {% for cuisine in cuisines %}
                <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
              {% endfor %}
            </select>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">priority_high</i>
          <select id="allergen_name_filter" name="allergen_name_filter">
            <option value="" disabled selected>Select Allergens</option>
            {% for allergy in allergens %}
              <option value="{{allergy.allergen_name}}">{{allergy.allergen_name}}</option>
            {% endfor %}
          </select>
          
        </div>
        
        
        <div class="input-field col s12">
          <i class="material-icons prefix">priority_high</i>
          <select id="meal_type_filter" name="meal_type_filter">
            <option value="" disabled selected>Select Meal Type</option>
            {% for meal in meals %}
              <option value="{{meal.meal_type}}">{{meal.meal_type}}</option>
            {% endfor %}
          </select>
          
        </div>
        
      
       
        
      </div>
      
      <div class="row">
        <div class="col-md-12 text-center">
            <button id="filter_submit_btn" class=" btn btn-info btn-xs"  type="submit">Filter Recipes
            <i class="material-icons right">search</i>
            </button>
            <a href="{{ url_for('get_recipes') }}" class="waves-effect waves-light grey btn ">
	            Reset
	            <i class="material-icons right">clear</i>
	        </a>

        </div>
      </div>
      <div class="row">
        <i class="material-icons">search</i> 
        <input class="form-control form-control-sm ml-3 w-75" type="text" id="search_item"  name="search_item"  placeholder="Search Recipes,Ingredients or Keywords" aria-label="Search">
      </div>
      
      
      <div class="row">
          <a class="waves-effect waves-light btn" href="{{url_for('most_popular_recipes')}}">Sort by most popular  <i class="material-icons">thumb_up</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="waves-effect waves-light btn" href="{{url_for('most_viewed_recipes')}}">Most Viewed <i class="material-icons">remove_red_eye</i></a>
      </div>
    </div>
  </form>
      

  
  <div class="row">
      {% for recipe in recipes %}
        <div class="col-md-6 col-lg-4">
          <div class="card"><img src="{{recipe.image_link}}" class="image_style">
            <div class="card-block">
              <h4 class="card-title" id="recipe_name">{{recipe.recipe_name}}</h4>
              <p class="card-text" id="description">{{recipe.short_description}}</p>
            </div>
            <div class="card-action">
              <a href="/view_recipe/{{ recipe._id }}">View Recipe</a>
              <i class="material-icons">thumb_up</i> {{recipe.upvotes}}
              <i class="material-icons">remove_red_eye</i> {{recipe.views}}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
  

{% endblock %}
 