{% extends 'base.html'%} {% block content %}
    <br/><br/>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col s12 m6">
                    <img class="responsive-img" src="{{recipe.image_link}}" width="600" height="450">
                </div>
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="strong-font">{{recipe.recipe_name}}</h2><br/><br/>
                        <h6>Cuisine Type: {{recipe.cuisine_name}}</h6>
                    </div><br/><br/>
                        <h5 class="super-font">{{recipe.short_description}}</h5>
                    <br/>
                    <i class="material-icons prefix">schedule</i> Prep Time : {{recipe.prep_time }} &nbsp;
                    <i class="material-icons prefix">schedule</i>  Cooking Time : {{recipe.cooking_time }} &nbsp;
                    <i class="material-icons prefix">local_dining</i>  Serves : {{recipe.serves}}
                    <br/><br/>
                    Allergens : {{recipe.allergen_name}}
                      
                    <br/><br/>
                   
                        <i class="material-icons">remove_red_eye</i> Views : {{recipe.views}} &nbsp;
                        <a href="{{url_for('increase_upvotes',recipe_id=recipe._id)}}"><i class="material-icons">thumb_up</i></a>Likes: {{recipe.upvotes}}
                     
            
                </div>
            </div>
            
            <div class="row">
                <h5 class="super-font">Ingredients:</h5>
                <p>{{ recipe.ingredients }}</p>
                <h5 class="super-font">Method:</h5>
                <p>{{recipe.method}}</p>
                <p>Recipe by <em>{{recipe.user_name}}</em></p>
            </div>
        </div>
    </div>
{% endblock %}